@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #8e8ca4;
  --primary-background: #2b2b3d;
  --secondary-background: #e89873;
}

body {
  display: flex;
  font-family: "Montserrat", sans-serif;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-background);
  height: 100vh;
}

header {
    font-weight: 600;
    font-size: 5vh;
    color: var(--text-color);
    transform: rotateZ(-3deg);
}

.text-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

textarea {
  font-size: 1.5rem;
  padding: 1rem;
  width: 40%;
  height: 60vh;
  color: var(--text-color);
  background-color: var(--primary-background);
  border-radius: 8px;
  -webkit-box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.7);
  box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.3);
  border: 0;
  outline: 0;
}

button {
  height: 3rem;
  width: 10rem;
  font-weight: 600;
  border-radius: 3px;
  background-color: var(--secondary-background);
  color: #fff;
  border: 0;
  outline: 0;
  padding: 0.5rem 1rem;
  -webkit-box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.7);
  box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.3);
}

button:active {
  transform: scale(0.98);
}

#message {
  font-size: 3rem;
  font-weight: 600;
  color: #8e8ca4;
}
